/* .home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .regular-size { */
  /* width: 65vw; */
  /* height: 80vh; */
  /* margin-bottom: 75px; */
  /* border-radius: 10px; */
/* } */

/* .full-size {
  width: 85vw;
  height: 80vh;
  margin-bottom: 75px;
  border-radius: 10px;
  border: 3px solid black;
} */
